@media (min-width: 550px) {
    body {
        place-content: center;
        background-color: var(--clr-gray400);
        padding: 1.5rem;
    }
    .main-container {
        margin-inline: auto;
        background-color: white;
        overflow: hidden;
        border-radius: 2.2rem;
    }
    .email-container {
        margin-inline: auto;
    } 
    .success-container {
        padding: 3em;
        gap: 1.3rem;
    
        background-color: white;
        border-radius: 1.8rem;
    }
    .success-container h1 {
        font-size: 3rem;
        margin-bottom: .3em;
    }
}
@media (min-width: 740px) {
    .main-container {
        max-width: 930px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 1.5rem;
    }
    .img-wrap {
        width: 45%;
        display: flex;
    }
    .img-desktop {
        display: block;
        width: 100%;
    }
    .img-mobile {
        display: none;
    }
    .content-wrap {
        padding: 2.5rem;
        width: 53%;
    }
    .email-container {
        margin-top: 1rem;
    } 
}
@media (min-width: 903px) {
    .title {
        font-size: 3.5rem;
        margin-bottom: .3em;
    }
    .email-container {
        margin-top: 3rem;
    }
}